@import "variables";

p-panel {
	margin-bottom: 20px;
	display: block;
	i.fa {
		margin-right: 10px;
	}
}

.icon-action { cursor: pointer; }
span.space { margin-right: 10px; }
.p-panel {
	border: 0;
	border-radius: 0;
}

.p-panel-header {
	// display: none;
	position: relative;
	float: right;
	margin-top: -35px;
	margin-right: 20px;
	background-color: #e2eede;
	padding: 5px 10px;
	font-size: 12px;
}
.p-toggleable-content {
	margin-top: 10px;
}


