<div class="container">
	<div class="grid builder">
		<div class="col-12 sm:col-3 blocks-container">
			<div class="block-list">
				<ul>
					<li pDraggable
						(onDragStart)="newElementStart('text')"
					><app-text-placeholder /></li>
					<li pDraggable
						(onDragStart)="newElementStart('image')"
						(onDragEnd)="clearDrag()"
					><app-image-placeholder /></li>
				</ul>
				<button pButton pRipple severity="success" class="m-auto w-full mt-4" (click)="save()">
					<span class="m-auto">
						<i class="fa fa-save mr-2"></i> Save
					</span>
				</button>
			</div>
		</div>
		<div class="col-12 sm:col-9">

			<div class="page">
				<div
					*ngFor="let item of page; index as i"
					class="page-item el-{{i}}"
				>
					<div class="dropzone" pDroppable (onDrop)="addBlock($event, i)"></div>
					<app-page-block
						[position]="i"
						[showMoveUp]="i != 0 "
						[showMoveDown]="i != (page.length - 1)"
						(moveUp)="moveUp(i)"
						(moveDown)="moveDown(i)"
						(dragStart)="moveElementStart(i)"
						(dragEnd)="clearDrag()"
						(trash)="remove(i)"
						(clone)="clone(i)"
						(edit)="edit(i)"
					>
						<app-image-block *ngIf="item.type == 'image'" />
						<app-text-block [data]="item.data" *ngIf="item.type == 'text'" />
					</app-page-block>
				</div>
				<div class="dropzone last-dropzone" pDroppable (onDrop)="addBlock($event, page.length)"></div>
			</div>

		</div>
	</div>	
</div>
