p {
	&.ql-align-center { text-align: center; }
	&.ql-align-right { text-align: right; }
	&.ql-align-left { text-align: left; }
	&.ql-align-justify { text-align: justify; }

	.ql-size-huge { font-size: 2rem; }
	.ql-size-large { font-size: 1.5rem; }
	.ql-size-normal { font-size: 1rem; }
	.ql-size-small { font-size: 0.7rem; }
}
